body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
}

h1 {
    text-align: center;
    color: rgb(24, 28, 255);
    background: rgb(254, 112, 136);
    padding: 20px;
    border-radius: 50px;
    width: 500px;
    margin: auto;
    font-family: monospace;
}

#h2{
    font-family: "Monospace", Courier, Lucida;
    text-align:center;
    background:rgb(244, 222, 222)
}
.h3{
    font-family: "Monospace", Courier, Lucida;
    text-align:center;
    color: rgb(255, 12, 223);
    background:rgb(244, 222, 222)
}

#h4{
    font-family: "Monospace", Courier, Lucida;
    padding:10px;
    color: blue;
    background-color: rgb(206, 235, 243);
}

p {
    line-height: 1.6;
    text-indent: 30px;
    font-family:monospace;
    font-size: 15px;
    padding: 40px;
}

a {
    text-decoration: none;
    color: darkblue;
}

img {
    border-radius: 10px;
}

table {
    border-collapse: collapse;
}

form {
    margin-top: 15px;
}

.container {
    width: 80%;
    margin: auto;
}

.section {
    margin-bottom: 40px;
}

.card {
    font-family: "Monospace", Courier, Lucida;
    background: rgb(254, 112, 136);
    padding: 10px;
    border-radius: 20px;
    text-align:center;
    gap:15px
    
}

#menu {
    background-color: #fdd5d5;
    padding: 5px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

#menu a {
    color: white;
    display: block;
    margin: 5px 0;
  
}

ul {
    list-style-type: square;
}

li {
    margin-bottom: 6px;
    font-family: monospace;
    font-size: 15px;
}

a:hover {
    color: hotpink;
}

table, th, td{
    background-color:rgb(254, 112, 136);
    color: white;
    border: 2px solid;
    padding: 10px;
    margin:auto;
}

form{
    background-color: lightblue;
    padding:1px
}
