body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
}

h1 {
    text-align: center;
    color: purple;
}

p {
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: darkblue;
}

img {
    border-radius: 10px;
}

table {
    border-collapse: collapse;
}

form {
    margin-top: 15px;
}

.container {
    width: 80%;
    margin: auto;
}

.section {
    margin-bottom: 40px;
}

.card {
    background: rgb(254, 112, 136);
    padding: 10px;
    border-radius: 5px;
}

#menu {
    background-color: #222;
    padding: 15px;
}

#menu a {
    color: white;
    display: block;
    margin: 5px 0;
}

ul {
    list-style-type: square;
}

li {
    margin-bottom: 6px;
}

a:hover {
    color: hotpink;
}